<app-header></app-header>

<main>
  <ul id="users">
    <!-- <li *ngFor="let user of users">
      <app-user 
        [user]="user"
        (select)="onUserSelect($event)">
      </app-user>
    </li> -->

    @for (user of users; track user.id) {
      <li>
        <app-user 
          [user]="user"
          (select)="onUserSelect($event)"
          [selected]="user.id === selectedUser?.id">
        </app-user>
      </li>
    }
  </ul>

  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser.name"></app-tasks>

  <ng-template #fallback>
    <p id="fallback">Please select user to see tasks</p>
  </ng-template> -->
  
    @if (selectedUser) {
      <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
    }
    @else {
      <p id="fallback">Please select user to see tasks</p>
    }
  

</main>